# 先宣告要額外搜尋 PyTorch CPU 版的倉庫
--extra-index-url https://download.pytorch.org/whl/cpu

########## 基本 ##########
flask==3.0.2
gunicorn==21.2.0

########## 推論 ##########
# Ultralytics 8.2.23 對應 torch 2.3.x
torch==2.3.0+cpu
torchvision==0.18.0+cpu
torchaudio==2.3.0+cpu
ultralytics==8.2.23

########## 其他工具 ##########
numpy==1.26.4              # 與 torch 2.3.0 相容
opencv-python-headless==4.11.0.86
pymysql==1.1.0
requests==2.32.3
flask-cors==4.0.0

